<div class="container">
  <h1>Your basket</h1>
  <div class="basket">

    <% @basket.detail_baskets.group() do |detail| %>
      <%= detail %>
      <% detail.where() %>
    <% end %>
  </div>
</div>