.card-banner {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 3px #2C2825;

  .card-banner-text {
    font-family: $headers-font;
    font-size: xx-large;
    text-decoration: none;
  }
}

#card-best-rec {
  height: 15vh;
  box-shadow: none;
  padding-top: 60px;
  border-bottom: 0.5px solid #94958B;
  border-radius: 0px;
  margin-bottom: 18px;
}

#card-banner-list{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/8378748/pexels-photo-8378748.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
#card-banner-recipes{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/1813504/pexels-photo-1813504.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
}
#card-banner-ingredients{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
}

.color-white {
  color: white;
}

.card {
  height: 200px;
}
.recipe-image {
  height: 100px;
}

#carouselExampleControls {
  padding: 0 20px;
}


.card-title-best-recipe {
  height: 8vh;
}

.recipe-image-home {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}