// Import page-specific CSS files here.
@import "home";
@import "recipe_show";
@import "recipe_index";
.bodymargin{
  // bodymargin is found in app/views/layout/application.html.erb
  // margin-top should ALWAYS be equal to Height of Logobar
  margin-top: 50px;
}
