.background-new-home {
    background-image: url("https://ecolozen.com/fr/wp-content/uploads/2017/08/Vrac-graines-et-le%CC%81gumes-1200x675.jpg");
    background-size: cover;
    height: 93.6vh;
}

.opacity {
    background: rgba(29, 28, 28, 0.6);
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text-newhome {
    color: white;
}

.h1-newhome {
    text-align: center;
    line-height: 1.6;
    padding: 10vw;
    font-size: 12vw;
    margin-top: 6vh;
  span {

    font-size: 14vw;
    color: $vert-clair;
    margin-top:5px;
    padding-left: 8px;
    padding-right: 8px;
    border: solid;
  }
}

.h3-newhome {
    font-size: 9vw;
    margin-top: 8vh;
    padding: 1.7vh;
    span {
      color: $vert-clair;
    }
}

.btn-home-signup {
    text-decoration: none;
    color: $vert-clair;
    font-size: 8vw;
    background: #f9f3d5;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    width: 50vw;
    display: inline-block;
    //margin-left: 25vw;
    margin-top: -4vh;
}


.btn-home-signup-width {
    text-decoration: none;
    color: $vert-clair;
    font-size: 1.5em;
    background: #f9f3d5;
    padding: 8px;
    border-radius: 10px;
   // margin-left: 25vw;
    text-align: center;
    width: 50vw;
    display: inline-block;
    margin-top: 10vh;
}

.btn-home {
    color: white;
    font-size: 6vw;
    padding: 6vh;
    text-decoration: underline;

}

#continue {
   margin-top: 8vh;
   margin-left: 0vw;
   padding: 10px;
}

.link {
  font-weight: 800;
  font-size: 7vw;
}

.link-home {
    margin-top: 4vh;
}
.width {
  width: 200px;
}
