.background-new-home {
    background-image: url("https://ecolozen.com/fr/wp-content/uploads/2017/08/Vrac-graines-et-le%CC%81gumes-1200x675.jpg");
    background-size: cover;
    height: 93.6vh;
}

.opacity {
    background: rgba(29, 28, 28, 0.5);
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text-newhome {
    padding: 10vw;
    color: white;
}

.h1-newhome {
    font-size: 8vw;
    margin-top: 6vh;
}

.h3-newhome {
    font-size: 6vw;
    margin-top: 8vh;
    text-align:center;
}

.btn-home-signup {
    text-decoration: none;
    color: $vert-clair;
    font-size: 1.5em;
    background: #f9f3d5;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    width: 50vw;
    display: inline-block;
    //margin-left: 25vw;
    margin-top: -2vh;

}
.btn-home-signup-width {
    text-decoration: none;
    color: $vert-clair;
    font-size: 1.5em;
    background: #f9f3d5;
    padding: 8px;
    border-radius: 10px;
   // margin-left: 25vw;
    text-align: center;
    width: 50vw;
    display: inline-block;
    margin-top: 10vh;
}

.btn-home {
    color: white;
    font-size: 6vw;
    padding: 6vh;
    text-decoration: underline;

}

#continue {
   margin-left: 0vw;
   padding: 10px;
}

.link {
    margin-top: 5vh;
}

.link-home {
    margin-top: 4vh;
}
.width {
  width: 200px;
}
