<div class="container">
  <h1>All recipes here</h1>
  <h2>recipes#index</h2>
  <p>Find me in app/views/recipes/index.html.erb</p>

  <% @recipes.each do |recipe| %>
    <h4> <%= recipe.name %> </h4>
    <p> <%= recipe.description %> </p>
  <% end %>
</div>