<div class="container">
  <h1 class= "text-center">-Profil Page-</h1>
<br>
  <div class="profile-edit">
    <%= link_to "Edit my profile !", edit_user_registration_path, class:"btn-home-signup" %>
  </div>
  <div class="recipe">
    <h3>My Recipes</h3>
  </div>
</div>
