<h1 class= "text-center" id="my-profile">-Profile Page-</h1>
<br>
  <div class="profile-edit">
    <%= link_to "Edit my profile !", edit_user_registration_path, class:"btn-home-signup" %>
  </div>
  <div class="recipe">
    <h3>My Recipes</h3>
  </div>
