<h1 class= "text-center">-Profil Page-</h1>
<div class="container">
  <div class="user-info">

    <div class="user-name-and-avatar">
	    <div class="name">
        <h2>My recipes</h2>
	    </div>
	    <div class="avatar">

	    </div>
  	</div>

    <div class="info">
    	<div class="left">

    	</div>
    	<div class="right">

    	</div>
    </div>
          <%= link_to "Edit my profile !", edit_user_registration_path, class:"btn-home-signup"%>

  </div>
</div>
