<div class="navbar">

  <%= link_to '<i class="fas fa-home text-decoration-none text-white h4"></i>'.html_safe, root_path %>
  <%= link_to '<i class="fas fa-search text-decoration-none text-white h4"></i>'.html_safe, '#' %>
  <%= link_to '<i class="fas fa-shopping-basket text-decoration-none text-white h4"></i>'.html_safe, detail_baskets_path %>
  <%= link_to  '<i class="fas fa-user text-decoration-none text-white h4"></i>'.html_safe , '#' %>

</div>
