<div class="navbar">
  
  <%= link_to "home", '#', class: "colorwhite text-decoration-none" %>
  <%= link_to "Search", '#', class: "colorwhite text-decoration-none" %>
  <%= link_to "basket", detail_baskets_path, class: "colorwhite text-decoration-none" %>
  <%= link_to  "Profile",'#', class: "colorwhite text-decoration-none" %>

</div>
