<div class="container">
  <h1>Mon Basket</h1>
  <ul>
    <% @detail_baskets.each do |detail| %>
      <% if detail.ingredient_recipe %>
        <li>Recette:  <%= detail.ingredient_recipe.recipe.name %></li>
          <ul><li> <%= detail.ingredient_recipe.ingredient.name %></li></ul>
      <% else %>
        <li>Ingredient: <%= detail.ingredient.name %></li>
      <% end %>
	  <% end %>
  </ul>
</div>
