
<div class="background-new-home">
  <div class="opacity">
    <div class="text-newhome">
        <h1 class="h1-newhome"><strong>Welcome to My List</strong></h1>
        <h3 class="h3-newhome">The list which allow you to do your shopping faster and easily with locals products</h3>
    </div>
    <% if current_user == nil%>
      <div class="link">
          <%= link_to "Log in", new_user_session_path, class:"btn-home-signup-width"%>
      </div>
      <div class="link">
          <%= link_to "Sign up now",  new_user_registration_path, class:"btn-home-signup"%>
      </div>
      <div class="link-home">
          <%= link_to "Continue without sign up", home_path, class:"btn-home" %>
      </div>
    <% else %>
      <div class="link">
          <%= link_to "Continue", home_path, class:"btn-home-signup", id:"continue"%>
      </div>

    <% end %>
  </div>
</div>
