<div class="alert alert-info" id="satine" role="alert">
    <%= notice %>
    <div class="d-flex justify-content-center satine-loader">
        <div class="spinner-border text-success satine-loader-center" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>


<div class="fruit">
    <div class="opacity-order">
        <div class="card-order">
            <h2 class="title-order"><strong>Your order is confirmed !</strong></h2>
            <h4 class="text-order center"><strong>Thank to shopping with us</strong></h4>
            <div class="padding-order">
                <h5 class="text-order">Order number: <%= current_user.baskets.first.id %></h5>
                <h5 class="text-order">Order date: <%= Date.today %></h5>
                <h5 class="text-order">Delivery date: <%= Date.today + 8%></h5>
            </div>
        </div>
    </div>
</div>
