.alert {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1000;
  border-radius: 10px;
}


.ugo {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  opacity: 0.9;
  width: 95vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  .close {
    margin-top: 55px;
    margin-right: 10px;
  }
}

#satine {
  height: 100vh;
  width: 100vw;
  right: 0;
  top: 0;
  border-radius: 0px;
}

.satine-loader {
  margin-top: 40vh;
}

.satine-loader-center {
  font-size: 20vh;
}

