.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: 7px;
  object-fit: cover;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-profile {
  height: 20vh;
  width: 20vh;
  object-fit: cover;
  border-radius: 10%;
  margin-left: 25vw;
}

.text-align-center {
  text-align: center;
  margin-top: 3vh;
}

#btn-profile {
  padding: 1vh;
}
