.btn-flat {
  color: #315540;
  padding: 1.2vh;
  padding-bottom: 0vw;
  border-radius: 50%;
  background: #315540;
  transition: background 0.3s ease;
  position: absolute;
  right: 10vw;

}

#btn-ingredient {
  margin-left: 72vw;
}

.form-control {
  border-radius: 7vw;
  height: 5vh;
  padding: 0;
}

#form-control-search {
  height: 7vh;
  border-radius: 15vw;
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  padding: 0.375rem 0.75rem;
}

.d-flex {
  display: flex !important;
  justify-content: center;
}
.btn-recette {
  position: absolute;
  top: 19px;
  right: 42px;
  background-color: #378154;
}
.nombre {
  width: 40%;
}

.btn-person {
  background-color: #378154 !important;
  padding: 5px;
  margin-left: 10px !important;
}

.btn-add-an-ingredient {
  position: fixed;
  top: 15%;
  right: 4vh;
  width: 0vh;
  .btn-add {
    width: 7vh;
    background-color: white;
    width: 50px;
    height: 27px;
    color: $vert-fonce;
    box-shadow: 1px 1px 3px black;
    margin-left: -1vh;
    text-align: center;
    border-radius: 12px;
  }
}














