.btn-flat {
  color: $vert-fonce;
  padding: 10px;
  padding-bottom: 3px;
  border-radius: 50%;
  background: #1EDD88;
  transition: background 0.3s ease;
  margin-top: 0.6vh;
  position: absolute;
  margin-left: 75vw;

}

#btn-ingredient {
  margin-left: 72vw;
}

.form-control {
  border-radius: 7vw;
  height: 5vh;
}

#form-control-search {
  height: 7vh;
  border-radius: 15vw;
  margin-bottom: 2vh;
}

.d-flex {
  display: flex !important;
  justify-content: center;
}
.btn-recette {
  position: absolute;
  top: 19px;
  right: 42px;
  background-color: #378154;
}
.nombre {
  width: 40%;
}

.btn-person {
  background-color: #378154 !important;
  padding: 5px;
  margin-left: 10px !important;
}