.btn-flat {
  color: #315540;
  padding: 1.2vh;
  padding-bottom: 0vw;
  border-radius: 50%;
  background: #315540;
  transition: background 0.3s ease;
  position: absolute;
  right: 10vw;

}

#btn-ingredient {
  margin-left: 72vw;
}

.form-control {
  border-radius: 7vw;
  height: 5vh;
  padding: 0;
}

#form-control-search {
  height: 7vh;
  border-radius: 15vw;
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  padding: 0.375rem 0.75rem;
}

.d-flex {
  display: flex !important;
  justify-content: center;
}
.btn-recette {
  position: absolute;
  top: 19px;
  right: 42px;
  background-color: #378154;
}
.nombre {
  width: 40%;
}

.btn-person {
  background-color: #378154 !important;
  padding: 5px;
  margin-left: 10px !important;
}

// .btn-add-an-ingredient {
//   position: fixed;
//   top: 18%;
//   right: 4vh;
//   box-shadow: 1px 1px 3px;
//   width: 30px;
//   height: 30px;
//   border-radius: 10px;
//   i {
//     position: absolute;
//     width: 30px;
//     height: 30px;
//     margin: 0px;
//   }
// }

// TWITTER HEART
.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  
  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
}

.stage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}











