.basket-content ul {
  padding: 0px;
}

.basket-title {
  text-align: center;
}

.card-basket {
  border-radius: 12px;
  background-color: white;
  padding: 5px;

  position: relative;
  box-shadow: 0.6px 0.6px 3px $vert-clair;
}

.basket-bin {
  position: absolute;
  right: 20px;
  color: $vert-clair;
}

.card-basket-recipe {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
  align-items: center;
  position: relative;
  padding-left: 20px;
  h5 {
    margin: 0px;
  }
}

.recipe-name {
  position: absolute;
}

.recipe-img {
  position: absolute;
  right: 0px;
  img {
    width: 50px;
    height: 50px;
    object-fit:cover;
    border-radius: 0px 12px 12px 0px;
  }
} 

.card-basket-ingredient-recipe {
  margin-left: 30px;
  margin-right: 5px;
  padding-left: 20px;
}

.card-basket-ingredient {
  margin-left: 50px;
  margin-right: 5px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.empty_basket {
  margin-top: 30px;
  width: 100%;
  height:45vh;
  background-color: #E0F5E6;
  box-shadow: 0 0 3px #2C2825;
  text-align: center;
  padding-top: 90px;
}

.card-title {
  color: #fffce6;
  height: 8vh;
  width: 92vw;
  margin-bottom: 2vh;
  border-radius: 10px;
  margin-top: 2vh;
}

#title-product {
  background-image: url("https://thumbs.dreamstime.com/b/variety-ingredients-baking-pastel-yellow-background-flour-eggs-milk-whisk-rolling-pin-top-view-flat-lay-copy-space-181861185.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 4vh;
}

#title-recipe {
  background-image: url("https://i.pinimg.com/originals/e9/9d/0c/e99d0c204d7caac4713d4e2b9faf949d.jpg");
  background-size: cover;
  background-position: center;
}

.opacity-recipe {
  background: rgba(175, 175, 175, 0.4);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-top: 1vh;
}








