.card-recipe {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
  border-radius: 5px;
  height: 20vh;
  background-color: $vert-clair;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);

  .recipe-info {
    padding: 5px;
    color: $blanc-casse;
  }

  .recipe-image {
    width: 45%;
    background-color: $blanc-casse;
  }
}