/* .card-custom {
  height: 30px;
  width: 200px;
  background-color: greenyellow;
  margin: 10px;
  text-align: center;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
*/
.card-product {
  position: relative;
  overflow: hidden;
  height: 12vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 3vh;
}

.card-product img {
  height: 100%;
  width: 25vw;
  object-fit: cover;
}

.card-product h2 {
  font-size: 2vh;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 1.5vh;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: vh;
}

.card-product .card-product-infos {
  padding: 2vh;
}

.btn-cart {
  width: 5vh;
  height: 5vh;
  border-radius: 30%;
  background-color: $vert-clair;
  position: absolute;
  right: 4vw;
  top: 1.5vh;
  visibility: visible;
  p {
    margin: 0px;
    font-size: 2.5vh;
  }
  i {
    margin-right: 1vw;
  }
}

.ingredient_quantity {
  bottom: 4vh;
  position: absolute;
  right: 17vw;
}

.form-ingredient button {
  visibility: hidden;
}










