.container-category {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 10vh;
}

.card-category {
    height: 20vh;
    width: 42vw;
    border-radius: 10px;
    margin-bottom: 2vh;
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgb(209, 209, 209);
}

.opacity-category {
    background: rgba(248, 252, 220, 0.5);
    width: 100%;
    height: 100%;
}

.padding11 {
    padding-top: 8vh;
}

.padding10 {
    padding-top: 8vh;
}

.padding8 {
    padding-top: 6vh;
}

#dry {
  background-image: url("https://resize2.prod.docfr.doc-media.fr/rcrop/600,315,center-middle/img/var/doctissimo/storage/images/fr/www/nutrition/pates/pates-un-aliment-pour-tous/feculents/109370-2-fre-FR/feculents.jpg");
  background-size: cover;
}

#vegetable {
    background-image: url("https://images.alphacoders.com/768/thumb-1920-76811.jpg");
    background-size: cover;
    background-position: center;
}

#diary {
    background-image: url("https://media.istockphoto.com/photos/dairy-products-shot-on-rustic-wooden-table-picture-id910881428?k=6&m=910881428&s=612x612&w=0&h=odpZyxi2uF3uF2KLatSyWj7lWAkreINz8fG8-MFD_M4=");
    background-size: cover;
    background-position: center;
}

#condiment {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK7AhuvAo7mGwXtGYLuuKOGCJv9Hjl-bobsC9WzsL0qcGEAiGboqaT15xqohzIBHggG14&usqp=CAU");
    background-size: cover;
    background-position: center;
}

#meat {
    background-image: url("https://www.ubackground.com/_ph/9/231649829.jpg");
    background-size: cover;
    background-position: center;
}