/* .card-custom {
  height: 30px;
  width: 200px;
  background-color: greenyellow;
  margin: 10px;
  text-align: center;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
*/
.card-product {
  position: relative;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 15px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.btn-cart {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  background-color: $vert-clair;
  position: absolute;
  right: 15px;
  top: 41px;
  visibility: visible;
  p {
    margin: 0px;
    font-size: 20px;
  }
  i {
    margin-right: 4px;
  }
}
.form-ingredient .form-group input {
  width: 40px;
  position: absolute;
  right: 60px;
  top: 42px;
}

.form-ingredient button {
  visibility: hidden;
}









