// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card-recipe";

@import "card-basket";
@import "card-category";

@import "logobar";
@import "card-ingredient";
@import "card-form";
@import "button";
@import "scroll-horizontal";
@import "recipe-new-edit-form";
@import "body";
@import "my-list";
@import "gif";
