#logobar {
  background-color: $vert-fonce;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  transition: top 0.4s ease;
  z-index: 10;
  box-shadow: 0px 0px 20px #2C2825;
  font-size: 25px;
  font-weight: 900;
}
