.my-list {
  background-color: white;
  box-shadow: 1px 1px 3px black;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 4px;
}

.ingredient-category {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.head-list {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: dashed;
}

.head-list .item {
  text-align: center;
  width: 30%;
}

.head-list .qty-price-amt {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 60%;
}

.body-list {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.body-list .item {
  text-align: center;
  width: 30%;
}

.body-list .qty-price-amt {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  p {
  	font-size: 12px;
  }
}

.footer-list {
  margin-top: 20px;
  padding-top:20px;
  border-top: dashed;
  display: flex;
  justify-content: space-evenly;
}

.footer-list .item {
  text-align: center;
  width: 30%;
}

.footer-list .qty-price-amt {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 60%;
}

.my-list-pop-up {
  margin-top: 50px;
  font-weight: 900;
  color: $vert-fonce;
    span {
    color: $vert-clair;
    }
  h4 {
    text-align: center;
    font-weight: 900;
  }
  h3 {
    margin-top: 50px;
    padding: 0px;
    font-weight: 900;
    text-align: center;
    font-size: 10vw;
    border: solid;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .fast {
    margin-left: 0px
  }
  .easy {
    padding-left: 20px;
  }
  .simple {
    margin-left: 0px
  }
  .my-list-desc {
    text-align: left;
    line-height: 1.4;
  }
}



