.my-list {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 4px;
}

.ingredient-category {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.head-list {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: dashed;
}

.head-list .item {
  text-align: center;
  width: 30%;
}

.head-list .qty-price-amt {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 60%;
}

.body-list {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.body-list .item {
  text-align: center;
  width: 30%;
}

.body-list .qty-price-amt {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  p {
  	font-size: 12px;
  }
}

.footer-list {
  margin-top: 20px;
  padding-top:20px;
  border-top: dashed;
  display: flex;
  justify-content: space-evenly;
}

.footer-list .item {
  text-align: center;
  width: 30%;
}

.footer-list .qty-price-amt {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 60%;
}

.my-list-pop-up {
  margin-top: 70px;
  font-size: 30px;
  font-weight: 900;
  color: $vert-fonce;
    span {
    color: $vert-clair;
  }
  h4 {
    text-align: center;
    font-weight: 900;
    .your-list {
      border-bottom: solid $vert-fonce;
    }
  }
  h3 {
    padding: 0px;
    font-weight: 900;
  }
  .fast {
    margin-left: 63px
  }
  .easy {
    margin-left: 5px
  }
  .simple {
    margin-left: 15px
  }
}



