.navbar {
 // margin: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $vert-fonce;
  border-radius: 50px 50px 50px 50px;
  width: 90%;
  height: 50px;
  position: fixed;
  bottom: 10px;
  z-index: 3;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 1px 1px 8px #2C2825;
}

.padding {
  padding: 5px 5px;
}